BACKEND_URL=YOUR_BACKEND_URL
FRONTEND_URL=YOUR_FRONTEND_URL

API_URL=YOUR_BACKEND_URL/api
AUTH_URL=YOUR_BACKEND_URL/api/auth

NEXT_PUBLIC_API_URL=YOUR_BACKEND_URL/api/v1
NEXT_PUBLIC_AUTH_URL=YOUR_BACKEND_URL/api/auth
NEXT_PUBLIC_APP_URL=YOUR_FRONTEND_URL